.treeTable-empty {
    width: 20px;
    display: inline-block;
}


.treeTable-icon {
    cursor: pointer;
}

/** 修改文件夹图标 */
/** 未展开 */
.treeTable-icon .layui-icon-layer:before {
    content: "\e638";
}

/** 展开 */
.treeTable-icon.open .layui-icon-layer:before {
    content: "\e638";
}

/** 修改文件图标 */
.treeTable-icon .layui-icon-file:before {
    content: "\e621";
}

/** 修改箭头的图标 */
/** 未展开 */
.treeTable-icon .layui-icon-triangle-d:before {
    content: "\e623";
}

/** 展开 */
.treeTable-icon.open .layui-icon-triangle-d:before {
    content: "\e625";
    background-color: transparent;
}

