<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ieps.mapper.UserItemMapper">
    <resultMap id="BaseResultMap" type="com.ieps.pojo.UserItem">
        <constructor>
            <idArg column="id" jdbcType="INTEGER" javaType="java.lang.Integer"/>
            <arg column="user_num" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="item_num" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="identity" jdbcType="INTEGER" javaType="java.lang.Integer"/>
            <arg column="create_time" jdbcType="TIMESTAMP" javaType="java.util.Date"/>
            <arg column="update_time" jdbcType="TIMESTAMP" javaType="java.util.Date"/>
        </constructor>
    </resultMap>
    <sql id="Base_Column_List">
    id, user_num, item_num, identity, create_time, update_time
  </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from ieps_user_item
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from ieps_user_item
    where id = #{id,jdbcType=INTEGER}
  </delete>
    <insert id="insert" parameterType="com.ieps.pojo.UserItem">
    insert into ieps_user_item (id, user_num, item_num,
      identity, create_time, update_time
      )
    values (#{id,jdbcType=INTEGER}, #{userNum,jdbcType=VARCHAR}, #{itemNum,jdbcType=VARCHAR},
      #{identity,jdbcType=INTEGER}, now(), now()
      )
  </insert>
    <insert id="insertSelective" parameterType="com.ieps.pojo.UserItem">
        insert into ieps_user_item
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="userNum != null">
                user_num,
            </if>
            <if test="itemNum != null">
                item_num,
            </if>
            <if test="identity != null">
                identity,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="userNum != null">
                #{userNum,jdbcType=VARCHAR},
            </if>
            <if test="itemNum != null">
                #{itemNum,jdbcType=VARCHAR},
            </if>
            <if test="identity != null">
                #{identity,jdbcType=INTEGER},
            </if>
            <if test="createTime != null">
                now(),
            </if>
            <if test="updateTime != null">
                now(),
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.ieps.pojo.UserItem">
        update ieps_user_item
        <set>
            <if test="userNum != null">
                user_num = #{userNum,jdbcType=VARCHAR},
            </if>
            <if test="itemNum != null">
                item_num = #{itemNum,jdbcType=VARCHAR},
            </if>
            <if test="identity != null">
                identity = #{identity,jdbcType=INTEGER},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                update_time = now(),
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.ieps.pojo.UserItem">
        update ieps_user_item
        set user_num = #{userNum,jdbcType=VARCHAR},
          item_num = #{itemNum,jdbcType=VARCHAR},
          identity = #{identity,jdbcType=INTEGER},
          create_time = #{createTime,jdbcType=TIMESTAMP},
          update_time = now()
        where id = #{id,jdbcType=INTEGER}
  </update>


    <delete id="deleteUserItemByItemNums" parameterType="string">
        DELETE FROM ieps_user_item
        WHERE item_num IN
        <foreach collection="array" item="itemNum" separator="," open="(" close=")">
            #{itemNum}
        </foreach>
    </delete>

    <update id="updateUserNumByItemNumAndUserNum" parameterType="string">
        UPDATE ieps_user_item
        SET user_num = #{userNum,jdbcType=VARCHAR},
          update_time = now()
        where item_num = #{itemNum,jdbcType=VARCHAR}
    </update>

    <insert id="insertUserItemWithItemNumAndUserNum">
      insert into ieps_user_item
      (
      user_num, item_num, identity
      )
      values
      (
      #{userNum,jdbcType=VARCHAR}, #{itemNum,jdbcType=VARCHAR},#{identity,jdbcType=INTEGER}
      )
    </insert>

    <select id="selectUserItemWithItemNumAndUserNum" resultType="int">
        SELECT count(1) FROM ieps_review
        WHERE user_num = #{userNum}
        AND item_num = #{itemNum}
        AND review_level = #{reviewLevel}
    </select>

    <delete id="deleteUsetItemWithReviews">
        DELETE FROM ieps_user_item
        WHERE
        item_num = #{itemNum} AND
        ieps_user_item.user_num IN
        (
        SELECT user_num
        FROM ieps_review
        WHERE item_num = #{itemNum}
        )
        <!--DELETE FROM ieps_user_item-->
        <!--WHERE-->
        <!--ieps_user_item.user_num IN-->
        <!--(-->
        <!--SELECT user_num-->
        <!--FROM ieps_review-->
        <!--WHERE item_num IN-->
        <!--<foreach collection="array" item="itemNum" separator="," open="(" close=")">-->
            <!--#{itemNum}-->
        <!--</foreach>-->
        <!--)-->

    </delete>


</mapper>